/***GLOBAL STYLES***/
body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 25px;
    margin-bottom: 1em;
}

.navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand a { /* link to custom view */
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
.navbar-brand a span { /* Star-K */
    vertical-align: middle;
}

/*nav-bar rigth section*/
#nav-list {
    margin-top: 10px;
    background: rgb(166, 124, 25);
}

#nav-list a {
    color: #951C49;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

#nav-list a:hover {
    background: #E7E7E7;
}

#nav-list a span {
    font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}

header h2 {
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

/*End Header*/

/* FOOTER */
.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
}

.panel-footer div.row {
    margin-bottom: 35px;
}

#hours, #address {
    line-height: 2;
}

#hours > span, #address > span {
    font-size: 1.3em;
}

#address p {
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
}

#testimonials {
    font-style: italic;
}

#testimonials p:nth-child(2) {
    margin-top: 25px;
}

/*END of FOOTER*/

/*Home Page*/
#main-container {
    padding: 0 15px 0 15px;
}

.menu-item {
    margin: 1em 0 15px auto;
    padding-right: 1em;
    padding-left: 1em;
    border: 2px solid #fff;
    background:  #f6b319;
}

.menu-item .menu-item-title {
    color: #557c3e;
    font-size: 140%;
    font-weight: bolder;
    text-transform: capitalize;
    margin-top: 10px;
    text-shadow: 1px 1px 1px #951C49;
    line-height: 0.25;
    margin-bottom: 1em;
}
.menu-item .section-description{
    color: #951C49;

}

/*END Home page*/
/**Link to the top**/
.to-top-buttom {
    position: absolute;
    right: 0;
    bottom: 0;
}

.to-top-buttom a {
    color: #951C49;
    position: relative;
}

.to-top-buttom {
    padding: 2px;
    width: 3.5em;
    height: 1.3em;
    border: solid #000000 1px;
    border-radius: 5px;
    background: #f6b319;
    margin-bottom: 2px;
    text-align: center;
    font-size: 0.9em;
}

.to-top-buttom a span{
    position: absolute;
    top:-1.5px;
    left: -1.39em;
}

.to-top-buttom span:hover {
    border: solid #fff 1px;

}
/****Optional page****/
.optional .menu-item{
    margin-top: 1.5em;
}
/******END of Optional Page*********/
/****MediaQuery*****/
/********** Large devices only **********/
@media (min-width: 1200px) {
    header{
        width: 100%;
    }
    .navbar-brand h1{
        font-size:1.8em;
    }
   #main-container.container{
     width: 100%;
       padding: 1em 60px 30px 25px;
   }
    .menu-item{
        margin: 0 1.2em 30px 1.2em;
    }

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {


}

/********** ExtraSmall devices only **********/
@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 15px;
        margin: 0 0 1em 1.5em;
    }

    .navbar-brand h1 { /* Restaurant name */
        padding-top: 10px;
        font-size: 4vw; /* 1vw = 1% of viewport width */
    }

    .navbar-toggle {
        margin-top: 0.5em;
        padding-top: 8px;
        height: 50px;
    }

    .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 7px;
    }

    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
    }

    #collapsable-nav a span { /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
    }

    /*END of the HEADER*/
    #main-container {
        padding: 1em;
    }

    #main-container hr, .panel-footer hr {
        width: 50%;
    }

    .menu-item {
        width: 80%;
        margin: 0 10% 1em 10%;
    }

    /*FOOTER*/
    .panel-footer section {
        font-size: 0.8em;
        margin-bottom: 30px;
        text-align: center;
    }

    .panel-footer section:last-of-type {
        margin-bottom: 0;
    }

    /*END of the FOOTER*/
    /* Home Page */

}

/****END of Home page***/


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

    /* Header */
    .navbar-brand h1 { /* Restaurant name */
        padding-top: 5px;
        font-size: 6vw;
    }

    #main-container {
        padding: 0 1em 0 1em;
    }

}

