/*@import url(http://weloveiconfonts.com/api/?family=entypo);*/
/* entypo */
@font-face {
    font-family: entypo;
    src: url(../fonts/entypo.woff);
}
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

section #services {
    float: right;
    text-align: center;
    transform: translatez(0);
}

section #services li {
    width: 60px;
    height: 70px;
    display: inline-block;
    margin: 15px;
    float:left;
    list-style: none;
}
section #services li div {
    width: 120px;
    height: 120px;
    color: #74d4b3;
    font-size: 3.4em;
    text-align: center;
    line-height: 120px;
    background-color: #fff;
    transition: all 0.5s ease;
}
section #services li div:hover {
    transform: rotate(360deg);
    border-radius: 100px;
}
section #services li a:hover {
   text-decoration: none;
}
section #services li span {
    width: 120px;
    height: 20px;
    display: block;
    padding: 15px 0px;
    color: #fff;
    font-family: 'Advent Pro', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
}